.root {
  padding: 0px 100px 100px;
  margin: 0 auto;
  max-width: 750px;
  text-align: center;

  span {
    font-size: 64px;
  }

  .description {
    font-size: 22px;
    margin-bottom: 50px;
  }
  button {
    padding: 12px 0 14px;
    width: 230px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
  }
}
